<div class="container">
    <h1 class=" text-green text-center">Register</h1>
    <hr>
    <form method="post" action="/users/register">
        <div class="form-group">
            <label>Username</label>
            <input class="form-control" type="text" name="username" placeholder="Username..."><br>
            <label>Password</label>
            <input class="form-control" type="password" name="password" placeholder="Password..."><br>
            <label>Confirm Password</label>
            <input class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password..."><br>
            <label>Email</label>
            <input class="form-control" type="email" name="email" placeholder="Email..."><br>
            <div class="text-center">
                <input class="btn btn-green" type="submit" value="Register">
            </div>
        </div>
    </form>
</div>

