<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>IRunes</h1>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/albums/all">Albums</a></li>
        <li><a href="/users/logout">Logout</a></li>
    </ul>
    <hr />

    <iframe width="560" height="315" src="{{trackLink}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <h2>Name: {{trackName}}</h2>
    <h2>Price: {{trackPrice}}</h2>
    <hr />
    <h3><a href="/albums/details?id={{albumId}}">Back To Album</a></h3>
    <hr />

    <footer>
        <p><strong>CopyRight© Sanity Design Studios. All Rights Reserved</strong></p>
    </footer>
</body>
</html>